.clinic {
  margin: 1rem;
  width: 17rem;
  height: 12rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.clinic:hover {
  transform: scale(1.1);
}

.clinic-1 {
  background-image: url('../assets/doctor-checking-for-healthcare-in-clinic-vector-flat-illustration.jpg');
  background-size: cover;
}
.clinic-2 {
  background-image: url('../assets/healthcare-checkup-by-doctor-at-lab-clinic-vector-illustration.png');
  background-size: cover;
}
.clinic-3 {
  background-image: url('../assets/healthcare-clinic-vector-flat-illustration.jpg');
  background-size: cover;
}

.clinic-front {
  display: flex;
  justify-content: center;
  text-align: center;
}

.clinic-name {
  position: relative;
  top: 13rem;
}

.modal {
  margin: 3rem 0 0 0;
  padding: 1rem;
  position: relative;
  animation: move-ltr 0.5s;
}

.address {
  text-align: center;
  margin: 0 0 15px 0;
}

.admin {
  width: 4rem;
  height: 4rem;
  /* border: 2px solid; */
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  background-image: url(../assets/administration-vector-icon.jpg);
  background-size: cover;
}

.close {
  position: absolute;
  font-size: 2rem;
  right: 1rem;
  cursor: pointer;
}

@keyframes move-ltr {
  0% {
    right: 100%;
  }
  25% {
    right: 75%;
  }
  50% {
    right: 50%;
  }
  75% {
    right: 25%;
  }
  100% {
    right: 0%;
  }
}
